<header id="header">
    <div id="insert" class="home_logo"></div>
    <div class="hamburger animated shake">
      <i ></i>
      <ul>
        <li class="home"><a href="<%- url_for() %>">Home<span></span></a></li>
        <li><a href="http://cpbxx.lofter.com/" target="blank">Works<span></span></a></li>
        <li class="home_notes_showon" ><a href="<%- url_for() %>">Notes<span></span></a></li>
        <li><a href="./tucaos.html">Tucaos<span></span></a></li>
      </ul>
    </div>
</header>
